.card-img-top{
    min-height: 200px;
    height: auto;
    width: 100%;
}

.container-filtro {
    margin-top: 70px;

    .rent-icon {
        position: absolute;
        z-index: 10;
        width: 25px;
        height: 25px;
        color: green;
    }

    #filtro-viviendas {
        #buscadorViviendas {
            margin-bottom: 10px;
        }
    
        .filtro-lista {
            display: flex;
            justify-content: center;
            margin-bottom: 10px;
            > label {
                margin-top: 0;
            }
        }
    
        .rango-precio {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
            input {
                width: 30%;
            }
        }
    }

    .panel-viviendas {
        margin-bottom: 20px;
        .lista-viviendas {
            margin: 0 0 20px 0;
            height: 50vh;
            overflow: auto;
            .forViviendas {
                padding: 0 5px 0 5px;
                .miniatura {
                    margin: 0 0 10px 0;
                    position: relative;
                    img {
                        height: 50%;
                    }
                    img.rent-icon {
                        position: absolute;
                        top: 10px;
                        right: 5px;
                        width: 50px;
                        height: 50px;
                        &[title="alquiler"] {
                            background-color: limegreen;
                            border-radius: 35px;
                            padding: 10px;
                        }
                        &[title="compra"] {
                            background-color: red;
                            border-radius: 35px;
                            border: 15px solid red;
                        }
                    }
                    .card-body {
                        padding: 10px;
                        h6 {
                            margin-bottom: 5px;
                        }
                    }
                }
            }
            .seleccionado {
                border: 5px solid rgb(0, 123, 255);
                border-radius: 5px;
            }
        }
    }
        
    #vivienda-component {
        max-height: 60vh;
    }
    
}