.container-filtro {
    margin-top: 70px;

    /* #slider12b .slider-track-low, #slider12c .slider-track-low {
        background: red;
    } */

    #filtro-viviendas {
        #buscadorViviendas {
            margin-bottom: 10px;
        }
    
        .filtro-lista {
            display: flex;
            justify-content: center;
            margin-bottom: 10px;
        }
    
        .rango-precio {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
            input {
                width: 30%;
            }
        }
    }

    .panel-viviendas {
        margin-bottom: 20px;
        .lista-viviendas {
            margin: 0 0 20px 0;
            height: 50vh;
            overflow: auto;
            .forViviendas {
                padding: 0 5px 0 5px;
                .card {
                    margin: 0 0 10px 0;
                    img {
                        height: 50%;
                    }
                    .card-body {
                        padding: 10px;
                        h6 {
                            margin-bottom: 5px;
                        }
                    }
                }
            }
            .seleccionado {
                border: 5px solid rgb(0, 123, 255);
                border-radius: 5px;
            }
        }
    }
        
    
    
}