.detalle-vivienda {
    #caracteristicas-vivienda {
        .lista-servicios {
            height: 135px;
            overflow: auto;
            svg.fa-times {
                color: red;
            }
            
            svg.fa-check-square {
                color: green;
            }
        }
    }
}

.modal-body {

    width: 100%;

    img {
        width: inherit;
    }
}
