.modal-body {

    width: 100%;

    img {
        width: inherit;
    }
}

#detalles-vivienda {
    svg.fa-times {
        color: red;
    }
    
    svg.fa-check-square {
        color: green;
    }
}
